<section class = 'index-slider'>
<div class="container"> 
<div class="index-slider__wrapper">
<div class = "index-slider__wrapper-bg">
<div class = 'index-slider__item'>
  <div class="index-slider__item-wrapper">
<div class="index-slider__item-content">
  <h3 class="index-slider__item-title">Большой выбор стиральных машин</h3>
  <p class="index-slider__item-text">Успей купить по суперцене</p>
  <a href="" class="index-slider__item-link">Подробнее</a>
</div>
<div class="index-slider__item-picture">
<img src="../img/_index-slider1.png" alt="Успей купить по суперцене" class="index-slider__item-img">
</div>
</div>
</div>
<div class = 'index-slider__item'>
  <div class="index-slider__item-wrapper">
  <div class="index-slider__item-content">
    <h3 class="index-slider__item-title">Большой выбор стиральных машин</h3>
    <p class="index-slider__item-text">Успей купить по суперцене</p>
    <a href="" class="index-slider__item-link">Подробнее</a>
  </div>
  <div class="index-slider__item-picture">
  <img src="../img/_index-slider1.png" alt="Успей купить по суперцене" class="index-slider__item-img">
  </div>
  </div>
  </div>
  <div class = 'index-slider__item'>
    <div class="index-slider__item-wrapper">
    <div class="index-slider__item-content">
      <h3 class="index-slider__item-title">Большой выбор стиральных машин</h3>
      <p class="index-slider__item-text">Успей купить по суперцене</p>
      <a href="" class="index-slider__item-link">Подробнее</a>
    </div>
    <div class="index-slider__item-picture">
    <img src="../img/_index-slider1.png" alt="Успей купить по суперцене" class="index-slider__item-img">
    </div>
    </div>
    </div>
</div>
</div>
</div>
</section>